@font-face {
    font-family: "CircularStd";
    src: url("../../assets/circular-std-font-family/CircularStd-Black.otf");
}
.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 50px;
    font-family: "CircularStd";
    font-size: 16px;
}
.footer--icons{
    display: flex;
    gap: 20px;
}
.footer--icons .fab{
    border-radius: 50%;
    padding: 12px;
    background-color: #e6ecfa;
    color: #0C46D3;
}
@media screen and (max-width: 675px) {
    .footer{
        font-size: 12px;
        padding-left: 10px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .footer--icons{
        gap: 15px;
    }
    .footer--icons .fab{
        padding: 10px;
    }
}